.tab {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 6px 0;
  border-left: 1px solid #f2f2f2;
  margin-left: -1px;
  border-bottom: 2px solid #eee;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tab-item.active {
  border-bottom-color: #5faefd;
}
.tab-item:not(.active) {
  opacity: 0.5;
}

.tab .tab-item:first-child {
  border-left: 0;
}
.tab-item .name {
  font-size: 12px;
  color: #444;
}
.tab-item .value {
  font-size: 14px;
  color: #333;
}
